* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'DM Sans', sans-serif;
}

.container {
    width: 1140px;
    height: fit-content;
    margin: 0 auto;
}

.btn {
    padding: 8px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #101C45;
    font-weight: 700;
}

header {
    width: 100%;
    height: fit-content;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    padding-top: 58px;
}

.logo,
.cta {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.nav-links {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
}

.active {
    color: #101C45;
    font-weight: 600;
}

.link:hover {
    color: #101C45;
}

.cta {
    justify-content: flex-end;
}

.btn-secondary {
    border: 1px solid #101C45;
    border-radius: 0;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 457px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero-maintext {
    color: #101C45;
    font-size: 48px;
    font-weight: 500;
}

.hero-subtext {
    color: #101C45;
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
}

.btn-hero {
    padding: 15px 35px;
    background-color: #203271;
    margin-top: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    border-radius: 0;
}

.hero-photo {
    position: relative;
    right: -30px;
    top: 0;
    user-select: none;
}

.card-review {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 25%;
    left: 43%;
}

.card-head {
    width: 252px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-image {
    width: 30px;
    height: 30px;
}

.profile-username {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    line-height: 20px;
}

.reviewer-text {
    width: 252px;
    color: #101C45;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 20px;
    text-align: start;
}

.parallelogram {
    position: absolute;
    z-index: -2;
    top: 20px;
    right: 0;
    background: #9BEAE0;
    width: 500px;
    height: 100%;
    -ms-transform: skew(-6deg);
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: #203271;
    padding: 40px;
    margin: -5px auto 0;
    display: flex;
    gap: 32px;
}

.card-content {
    width: 359px;
    display: flex;
    gap: 25px;
}

.card-icon {
    width: 30px;
    height: 30px;
}

.card-text {
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.card-desc {
    color: rgba(255, 255, 255, .8);
    font-size: 16px;
    line-height: 26px;
}